<div class="jumbotron">
  <a href="/">
    <img src="images/billbuddylogo.png" alt="bill buddy logo">
  </a>
  <h1 class="display-4">Welcome,
    <span class="member-name"></span>
  </h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card mt-4">
        <div class="card-body" id="upcomingBills">


          {{!-- "Add Bill" Modal --}}
          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Bill Buddy</h4>
                  <button type="button" class="close" data-dismiss="modal" style="background-color: #9ece69">&times;</button>
                </div>
                <div class="modal-body">
                  <form role="form">
                    <h3>Add Account</h3>
                    <div class="form-group">
                      <label for="bill-name">
                        <i class="fas fa-hand-holding-usd"></i> Bill Name</label>
                      <input type="text" class="form-control" id="bill-name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="bill-cat">
                        <i class="fas fa-hand-holding-usd"></i> Bill Category</label>
                      <br>
                      <select id="bill-cat">
                        <option value="0">-Select One-</option>
                        <option value="1">credit cards</option>
                        <option value="2">utilities</option>
                        <option value="3">mortgage/rent</option>
                        <option value="4">student loans</option>
                        <option value="5">car loans</option>
                        <option value="6">insurance</option>
                        <option value="7">miscellaneous</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="url">Enter an https:// URL</label>
                      <input type="url" class="form-control" name="url" id="url" placeholder="https://example.com" pattern="https://.*" />
                    </div>
                    <div class="form-group">
                      <label for="billamount">
                        <i class="fas fa-dollar-sign"></i> Amount
                      </label>
                      <input type="text" class="form-control" id="billamount" placeholder="enter amount">
                    </div>
                    <div class="form-group">
                      <label for="due-date">Due Date</label>
                      <input type="date" id="due-date" name="trip" value="2018-09-01" min="2018-09-01" max="2019-12-31" />
                    </div>

                    <div class="form-group">
                      <label for="remind-me">Remind Me</label>
                      <br>
                      <select id="reminder">
                        <option value="0">-Select One-</option>
                        <option value="3">3 days ahead</option>
                        <option value="7">1 week ahead</option>
                        <option value="14">2 weeks ahead</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>
                        <input type="checkbox" id="recurring"> Recurring</label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn" id="newbillbtn" style="background-color: #9ece69">
                    <i class="fas fa-sign-in-alt"></i> Submit</button>
                </div>
              </div>
            </div>
          </div>

          <!--Upcoming Bills Section-->
          <h3 class="card-title">Upcoming Bills</h3>
          <hr> {{#each bills}}

          <div>
            <p>
              <b>Name</b>: {{this.name}}
              <img src="./images/checkmark.png" class="checkmark d-none" /> </p>

            <button id="moreInfo" type="button" class="btn btn-default actionBtn" data-toggle="collapse" data-target="#demo-{{this.id}}">
              <span class="glyphicon glyphicon-collapse-down"></span> More Info
            </button>
            <button class="btn btn default actionBtn" value={{this.id}} id="update" data-paid="false">
              <i class="fas fa-toggle-off toggle">
                <span class="Y"> Paid</span>
              </i>
            </button>

            <button type="button" class="btn btn-default actionBtn" value={{this.id}} id="delete">Delete</button>
          </div>
          <div id="demo-{{this.id}}" class="collapse">
            <ol class="list-group">
              <li class="list-group-item">
                <strong>Amount</strong>: ${{this.amount}}</li>
              <li class="list-group-item">
                <strong>Due Day:</strong> {{this.dueDay}}</li>
              <li class="list-group-item">
                <strong>Pay bill:</strong>
                <a href="{{this.URL}}" target="_blank">{{this.URL}}</a>
              </li>
            </ol>
          </div>
          <br>
          <br> {{/each}}

          <!-- Trigger the "Add Bill" modal with a button -->
          <button type="button" class="btn" id="addBill" style="background-color: #9ece69">Add Bill</button>
          <br>
          <a href="/logout">← Back To Home</a>


        </div>
      </div>
    </div>

    <!--Calendar-->
    <div class="col-6">
      <br>
      <div id='calendar'></div>
    </div>
  </div>
</div>



 <!-- Custom Script -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="/js/add_bill.js" type="text/javascript"></script>

