<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome, Name!</h1>
  </div>
</div>







<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card mt-4">
        <div class="card-body" id= "upcomingBills">


          {{!-- "Add Bill" Modal --}}
          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Bill Minder</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form role="form">
                    <h1>Add Account</h1>
                    <div class="form-group">
                      <label for="bill-name">
                        <i class="fas fa-hand-holding-usd"></i> Bill Name</label>
                      <input type="text" class="form-control" id="bill-name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="bill-cat">
                        <i class="fas fa-hand-holding-usd"></i> Bill Category</label>
                      <br>
                      <select>
                        <option value="0">-Select One-</option>
                        <option value="1">credit cards</option>
                        <option value="2">utilities</option>
                        <option value="3">mortgage/rent</option>
                        <option value="4">student loans</option>
                        <option value="5">car loans</option>
                        <option value="6">insurance</option>
                        <option value="7">miscellaneous</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="url">Enter an https:// URL</label>
                      <input type="url" class="form-control" name="url" id="url" placeholder="https://example.com" pattern="https://.*" />
                    </div>
                    <div class="form-group">
                      <label for="billamount">
                        <i class="fas fa-dollar-sign"></i> Amount
                      </label>
                      <input type="text" class="form-control" id="billamount" placeholder="enter amount">
                    </div>
                    <div class="form-group">
                      <label for="due-date">Due Date</label>
                      <input type="date" id="due-date" name="trip" value="2018-01-01" min="2018-01-01" max="2019-12-31" />
                    </div>
                    <div class="form-group">
                      <label>
                        <input type="checkbox" value="" checked> Recurring</label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-default btn-success btn-block">
                    <i class="fas fa-power-off"></i> Submit</button>
                </div>
              </div>
            </div>
          </div>

          <!--Upcoming Bills Section-->
          <h3 class="card-title">Upcoming Bills</h3>
          <hr>
          {{#each bills}}
          
          <p>
            <b>Name</b>: {{this.name}}</p>
          
          
          <button id="moreInfo" type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo-{{this.id}}">
            <span class="glyphicon glyphicon-collapse-down"></span> More Info
          </button>
          <button type="button" class="btn btn-default" id="paid">Paid</button>
          <button type="button" class="btn btn-default" id="delete">Delete</button>

          <div id="demo-{{this.id}}" class="collapse">
            <ol class="list-group">
              <li class="list-group-item"><strong>Amount</strong>: ${{this.amount}}</li>
              <li class="list-group-item"><strong>Due Day:</strong> {{this.dueDay}}</li>
              <li class="list-group-item"><strong>Pay bill:</strong> <a href = "{{this.URL}}">{{this.URL}}</a></li>
            </ol>
          </div>
         <br>
          <br>
            {{/each}}
          
           

            <!-- Trigger the "Add Bill" modal with a button -->
            <button type="button" class="btn btn-primary" id="addBill">Add Bill</button>
            <br>
            <a href="/">← Back To Home</a>

          </div>
        </div>
      </div>

      <!--Calendar-->
      <div class="col-6">
        <div id='calendar'></div>
      </div>
    </div>
  </div>